<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>BudgetBiz</title>
</head>
<body>

<h2> My Budget </h2>
<ul>
    <li><a href="/budgets/add" th:href="@{/budgets/signup}"> Add Budget</a></li>
    <li><a href="/budgets/list" th:href="@{/budgets/list}"> List Budget</a></li>
    <li><a href="/budgets/update" th:href="@{/budgets/update}"> Update Budget</a></li>
    <li><a href="/budgets/delete" th:href="@{/budgets/delete}"> Delete Budget</a></li>
</ul>

</body>
</html>
